h1= title
p Welcome to #{title}
input(type='text', name='age', placeholder='age' value="23")
select(name='gender', placeholder='gender')
	option(value="male") male
	option(value="female") female
br
button(type='button', id='login') LOGIN
button(type='button', id='logout') LOGOUT
br
br
button(type='button', id='next') NEXT
br
br
form(id="chat")
	textarea(name='message')
	button(type="send") send
div(id="chat-area")
